## Dovecot configuration file

base_dir = /var/run/dovecot/
auth_default_realm = {{domain}}
auth_mechanisms = plain login cram-md5
protocols = imap pop3
listen = *
disable_plaintext_auth = no
dotlock_use_excl = yes
first_valid_gid = 5
first_valid_uid = 25

mail_location = maildir:/var/vmail/%d/%u
mail_privileged_group = mail
passdb {
  args = /etc/dovecot/dovecot-mysql.conf
  driver = sql
}
service auth {
  unix_listener auth-client {
    group = exim
    mode = 0660
    user = exim
  }
  unix_listener auth-master {
    group = exim
    mode = 0600
    user = exim
  }
  user = root
}
ssl = yes
ssl_cert = </etc/exim/cert.pem
ssl_key = </etc/exim/privkey.pem
ssl_dh = </etc/exim/dh.pem

userdb {
  args = /etc/dovecot/dovecot-mysql.conf
  driver = sql
}
verbose_proctitle = yes

protocol imap {
  imap_client_workarounds = delay-newmail tb-extra-mailbox-sep
}
protocol pop3 {
  pop3_client_workarounds = outlook-no-nuls oe-ns-eoh
  pop3_uidl_format = %08Xu%08Xv
}
protocol lda {
  auth_socket_path = /var/run/dovecot/auth-master
  postmaster_address = info@{{domain}}
}
