<?php

$config['db_dsnw'] = 'mysql://roundcube:{{roundcube_pass.stdout}}@localhost/roundcube';
$config['default_host'] = 'localhost';
$config['smtp_port'] = 25;
$config['support_url'] = '';
$config['des_key'] = '{{roundcube_des.stdout}}';

$config['plugins'] = array();
