EMail system was successfully set up
Now you shoud use installer and create user for manage. Follow the link below and use Setup Password {{postfixadmin_pass.stdout}}

Email Management
https://emlmgmt.{{domain}}/setup.php

E-Mail Web Client
URL: https://webmail.{{domain}}

SPF is advanced technology for SMTP service. It helps to check trusted users. It allows your emails to put in inbox folder of recipient and degree span scores. To enable SPF for your domain you need to add special TXT record to DNS zone with next data:

v=spf1 mx a:webmail.{{domain}} ip4:{{IP}} ~all
