Почтовая система успешно установлена на сервере
Теперь необходимо перейти в установщик и создать себе пользователя. Для этого перейдите по ссылке ниже и используйте Setup Password {{postfixadmin_pass.stdout}}

Email Management
https://emlmgmt.{{domain}}/setup.php

E-Mail Web Client
URL: https://webmail.{{domain}}

SPF это расширение для протокола отправки электронной почты. Оно помаагает определить доверенных отправителей, что повышает доставляемость корреспонденции вашего домена и немного уменьшает уровень спамности. Что бы его активи
ровать нужно просто добавить в настройки вашей доменной зоны TXT запись следующего содержания

v=spf1 a mx -all
