server	{
	listen 80 default;
	server_name webmail.{{domain}};
	return 301 https://webmail.{{domain}};
	}

server  {
        listen 80;
        server_name emlmgmt.{{domain}};
        return 301 https://emlmgmt.{{domain}};
        }

server	{
	listen 443 ssl http2;
	server_name webmail.{{domain}};
	index index.php;
        client_max_body_size 30M;

	access_log /var/log/nginx/webmail.{{domain}}_access.log;
	error_log /var/log/nginx/webmail.{{domain}}_error.log;

	root /usr/share/roundcubemail;
        ssl_certificate /etc/letsencrypt/live/mail.{{domain}}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/mail.{{domain}}/privkey.pem;
        #ssl_stapling on;
        #ssl_stapling_verify on;
	#add_header Strict-Transport-Security max-age=86400;

	location / {
        	try_files $uri $uri/ /index.php?$args;
        }


	location ~ \.php$ {
        	fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
 	}
}

server  {
        listen 443 ssl http2;
        server_name emlmgmt.{{domain}};
        index index.php;
        client_max_body_size 30M;

        access_log /var/log/nginx/emlmgmt.{{domain}}_access.log;
        error_log /var/log/nginx/emlmgmt.{{domain}}_error.log;

        root /usr/share/postfixadmin/public;
        ssl_certificate /etc/letsencrypt/live/mail.{{domain}}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/mail.{{domain}}/privkey.pem;
        #ssl_stapling on;
        #ssl_stapling_verify on;
        #add_header Strict-Transport-Security max-age=86400;

        location / {
                try_files $uri $uri/ /index.php?$args;
        }


        location ~ \.php$ {
                fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
}
